body {
  font-family: "Helvetica Neue";
  text-align: center;
  background: #FF4E50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #FF4E50 , #F9D423); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #FF4E50 , #F9D423); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  font-weight: 300;
  font-size: 100px;
  letter-spacing: 15px;
  margin-bottom: -20px;
  margin-top: 0;
  color: rgb(30, 30, 30);
}

.game-finished {
  display: none;
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-size: 100px;
  letter-spacing: 15px;
  margin-bottom: 64px;
  margin-top: 20px;
}

.reset-button {
  visibility: hidden;
  cursor: pointer;
  color: rgb(30, 30, 30);
  width: 400px;
  height: 60px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Helvetica Neue";
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}

.reset-button:hover {
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

/*.reset-button:focus {
  outline: 0;
  box-shadow: none;
}*/

h5 {
  margin-top: 40px;
  font-weight: 400;
  color: rgb(30, 30, 30);
}

table {
  margin: 80px auto;
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 30px;
}

td {
  font-size: 105px;
  text-align: center;
  font-weight: 400;
  color: rgb(30, 30, 30);
  width: 130px;
  height: 130px;
  border: 7px solid rgb(30, 30, 30);
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
  opacity: 0;
}

td.fade-in {
  opacity: 1;
  -webkit-transition: opacity ease-in 0.3s;
  -moz-transition: opacity ease-in 0.3s;
  -ms-transition: opacity ease-in 0.3s;
  -o-transition: opacity ease-in 0.3s;
  transition: opacity ease-in 0.3s;
}

tr:first-child td {
  border-top: none;
}

tr:last-child td {
  border-bottom: none;
}

tr td:first-child {
  border-left: none;
}

tr td:last-child {
  border-right: none;
}

footer p {
  color: rgb(230,230,230);
  letter-spacing: 0.8px;
  text-align: right;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}
